.container-navbar {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.container-navbar.nav-dark {
    background-image: linear-gradient(62deg, #070707 0%, #646463 100%) !important;
}

.container-navbar h2 {
    color: #f15900;
    font-weight: 700;
}

.container-navbar h5 {
    color: #ffffff;
}

.container-navbar h5:hover {
    color: #f15900;
}

.container-navbar a {
    text-decoration: none;
}

.container-navbar nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.container-navbar nav a {
    color: #333;
}

.container-navbar button {
    border: none;
    outline: none;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: #f5600a;
    color: #fff;
}

.container-navbar button:hover {
    color: #ff5e00;
    background-color: #fff;
    border: 2px solid #f5600a;
}