.container-signup {
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.container-signup h2 {
    text-align: center;
    font-weight: 700;
    color: #ff5e00;
    margin: 20px;
}

.container-signup form div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.container-signup form button {
    display: block;
    width: 25%;
    border: none;
    outline: none;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: #f5600a;
    color: #fff;
    margin: 30px auto 10px;
}

.container-signup button:hover {
    color: #ff5e00;
    background-color: #fff;
    border: 2px solid #f5600a;
}